
<%= form_tag("/timers/result", method: :post) do %>
<h4>
設定
</h4>
時間当たりの金額を入力してください<br>
<input placeholder="" type = "integer" name = "wage" >
<input type = "submit" value="strat">
<% end %>
<form name="form" id="form">
<input id="price" type="integer" name = "num">
<div id="div1">
  <input type="button" id="start" value="開始" onclick="onclickstart()">
  <%# <input id="stop" type="button" value="停止">  %>
</div>
<%# <div class="div2">
  <button id="ssbutton" class="start" onClick="onClickMenu()">
    <span id="menu-start" style="display:block">スタート</span>
    <span id="menu-stop" style="display:none">ストップ</span>
  </button>
</div> %>
</form>
<h3></h3>
<h1 id="timeis"></h1>
<div class="bg-slider">
  <h1 class="bg-slider__title">BGSWITCHER DEMO PAGE</h1>
</div>
<div class="bgCrossFade">
  <p>背景画像のクロスフェード</p>
</div>


<script type="text/javascript" src="../../../assets/javascripts/new.js"></script>
<%# <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="js/jquery.bgswitcher.js"></script> %>
<script>
// jQuery(function($) {
//     $('.bg-slider').bgSwitcher({
//         images: ['IMG_5384_copy.jpg','IMG_6021_copy.jpg','IMG_7635_copy.jpg'], // 切り替える背景画像を指定
//     });
// });
let count = 0;

// window.onload = function(){
// function onClickMenu(){
//   let toggleBtn=document.getElementById("ssbutton");
//   let toggleBtnClass=toggleBtn.getAttribute("class");
//   console.log("イベント発生");

//   if(toggleBtnClass=="start"){
//     toggleBtn.classList.remove('start');
//     toggleBtn.classList.add('stop');
//     document.getElementById('menu-start').style.display="none";
//     document.getElementById('menu-stop').style.display="block";
//   }else{
//     toggleBtn.classList.remove('stop');
//     toggleBtn.classList.add('start');
//     document.getElementById('menu-stop').style.display="none";
//     document.getElementById('menu-start').style.display="block"
//   }
// }
// }





  // start_btn = document.getElementById("start");
  let number = document.getElementById("price");
  let div1 = document.getElementById("div1");
  function onclickstart(){
    console.log("onclickでカウントスタート");
    let wage = number.value/60/60;
    start.parentNode.removeChild(start);  
    stop_btn = document.createElement("input");
    stop_btn.setAttribute("type","button");
    stop_btn.setAttribute("id","stop");
    stop_btn.setAttribute("value","停止");
    stop_btn.setAttribute("onclick","onclickstop()")
    div1.appendChild(stop_btn);


    stop_btn.onclick=function(){ //ここでfunction onclickstop()とすると、onclickstop is not definedが出る。
      console.log("createしたonclickでストップ");
      clearInterval(counttime);
      stop_btn.parentNode.removeChild(stop_btn);
      start_btn = document.createElement("input");
      start_btn.setAttribute("type","button");
      start_btn.setAttribute("id","start");
      start_btn.setAttribute("value","開始");
      start_btn.setAttribute("onclick","onclickstart()")
      div1.appendChild(start_btn);
    }

  //   stop_btn.addEventListener("click",function(){
  //   clearInterval(counttime);
  //   console.log("ストップ");
  //   stop_btn.parentNode.removeChild(stop_btn);
  //   let start_btn = document.createElement("input");
  //   start_btn.setAttribute("type","button");
  //   start_btn.setAttribute("id","start");
  //   start_btn.setAttribute("value","開始");
  //   div1.appendChild(start_btn);
  // });
  // start_btn.addEventListener("click",function(){
  //   console.log("a")
  // });
  
  time();
  function time(){
  count = count + wage;
  test = document.getElementById("timeis").innerHTML = count;
}
counttime = setInterval(time,1000);

  
  stop_btn.addEventListener("click",function(){
    document.querySelector("h3").innerHTML = "this is";
  });
  


  
 }


</script>